*{
    padding: 0;
    margin: 0;
    font-family: monospace;
    box-sizing: border-box;
}

body{
    background-color: #43a047;
}

.wrapper{
    background-color: #fff;
    width: 80vmin;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    padding: 40px 20px;
    border-radius: 8px;
}

label{
    display:block;
}

span{
    position: relative;
    font-size:22px;
    bottom: -1;
}

.opt-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
}

button{
    background-color: #43a047;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
}

input[type = "color"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    appearance: none;
    width: 70px;
    height: 40px;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch{
    border-radius: 8px;
    border:none;
    /* border:4px solid #000; */
}

input[type="color"]::-moz-color-swatch{
    border-radius: 8px;
    border:none;
    /* border:4px solid #000; */
}

.gridCol{
    height: 1em;
    width: 1em;
    border: 1px solid #ddd;
}

.gridRow{
    display:flex;
}

@media only screen and (max-width: 768px){
    .gridCol{
        height: 0.8em;
        width: 0.8em;
    }
}